<div class="d-flex justify-content-center">
  <h4>NEW ARRIVALS</h4> 
</div>
<div class="d-flex justify-content-center row list-container">
<div *ngFor="let product of products" >
    <div class="box shadow p-3">
        <a href='/product/{{product._id}}'>
          <img class="product-img" src="assets/{{product.image}}" width="280px">
        </a>
        <div class="card-body">
          <a href='/product/{{product._id}}'>
              <h4 class="card-title"> {{product.name}}</h4>
          </a>
          <h5 class="card-text">
            $ {{product.price}}.00
          </h5>
          <div class="d-flex">
            <div class="rating">
              <span *ngIf="product.rating >= 0.5 && product.rating < 1"><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
              <span *ngIf="product.rating >= 1 && product.rating < 1.5"><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
              <span *ngIf="product.rating >= 1.5 && product.rating < 2"><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
              <span *ngIf="product.rating >= 2 && product.rating < 2.5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
              <span *ngIf="product.rating >= 2.5 && product.rating < 3"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
              <span *ngIf="product.rating >= 3 && product.rating < 3.5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
              <span *ngIf="product.rating >= 3.5 && product.rating < 4"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span>
              <span *ngIf="product.rating >= 4 && product.rating < 4.5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
              <span *ngIf="product.rating >= 4.5 && product.rating < 5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span>
              <span *ngIf="product.rating >= 5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
            </div>
            <div class="reviews">
              {{product.numReview}} reviews
            </div>
          </div>
        </div> 
    </div>
  </div>   
</div>
