.box{
    margin-block: 20px;
    margin-inline: 25px;
    padding: 0;
    width: 312px;
    border: 0;
}

.list-container{
    display: inline-flex;
}

.rating span i{
    color: #f0c040;
    margin: 0.1rem;
}

.reviews{
    margin-left: 71px;
}