.box img{
    margin-right: 30px;
}

.qty-grp input{
    width: 10px;
}

#qty{
    margin-inline: 20px;
    margin-block: 8px;
}

.add-to-cart{
    margin-top: 20px;
}

.rating{
    margin-right: 10px;
}

.rating span i{
    color: #f0c040;
    margin: 0.1rem;
}

.brandCategory p{
    opacity: 75%;
}

.review p{
    opacity: 75%;
}


